@charset "UTF-8";
/*Utilisation du pattern 7-1 pour les fichiers sass*/
/*Imports*/
/*Greys*/
/*Définition des fondations du site : normes*/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

/*Layout of header, main and footer*/
main {
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  flex-shrink: 0;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.footer__text:visited {
  color: #fff;
}

/*Définition des fondations du site : polices de caractère*/
/* Font Shrikhand from Google Fonts */
/* Font Roboto from Google Fonts */
body {
  font-family: "Roboto", sans-serif;
}

h1, h2, p {
  margin: 0px;
}

h2, p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

h2 {
  font-size: 20px;
}

p {
  margin-top: 5px;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}
.header__logo {
  padding: 5% 5% 2% 5%;
}
.header__logo img {
  width: 200px;
  height: auto;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #3a3a3a;
  padding: 5%;
}
.footer__logo {
  font-family: "Shrikhand";
  font-size: 20px;
  color: #fff;
}
.footer__ul {
  list-style-type: none;
  padding-inline-start: 0px;
}
.footer__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  padding-inline-start: 0px;
  text-decoration: none;
  margin-bottom: 8px;
}
.footer__text--icon {
  margin-left: 15px;
}
.footer__text--icon2 {
  font-size: 11px;
}
.footer__text::hover {
  color: #fff;
}

.btn {
  padding: 20px;
  background: #ff79da;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
}

/*fichiers scss pour les éléments selon les pages*/
/*Page d'accueil */
.location {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ebebebff;
  box-shadow: inset 0px 15px 10px -15px #7e7d7d;
}
.location__icon {
  color: #3a3a3a;
  font-size: 20px;
  padding: 4%;
}
.location__searchbar {
  width: 170px;
  color: #3a3a3a;
  font-size: 18px;
  font-weight: 600;
  background-color: #ebebebff;
  border: 0px;
}

/*Titles*/
.accueilTitle {
  font-size: 24px;
  font-weight: 800;
}

/*Sections : presentation, fonctionnement et restaurants*/
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  background-color: #f6f6f6ff;
  padding: 30px;
}
.presentation__undertitle {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.fonctionnement,
.restaurants {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 5%;
  height: 350px;
}

/*Section : fonctionnement*/
.fctEtapes {
  box-sizing: border-box;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.etape {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.etape__number {
  z-index: 2;
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 80px;
  background-color: #9356dc;
  color: #fff;
  text-align: center;
}
.etape__content {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 15px;
  margin-left: -15px;
  background-color: #f6f6f6ff;
  box-shadow: 4px 6px 10px 0px #7e7d7d;
  color: black;
  text-align: center;
}
.etape__content__text {
  margin-left: 20px;
  font-weight: 600;
}
.etape__content__icon {
  width: 40px;
  margin-left: 20px;
  font-size: 20px;
  color: #7e7d7d;
}

/*Section : Restaurants*/
.restaurants {
  background-color: #f6f6f6ff;
  height: 1400px;
}

.cardsRestau {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

.lienRestau {
  width: 100%;
  height: 250px;
  background-color: white;
  border: solid 5px white;
  box-shadow: 5px 5px 10px #c2c2c2;
  border-radius: 20px 20px 20px 20px;
}

.restau {
  width: 100%;
  height: 100%;
}
.restau__img {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 75%;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.restau__img img {
  width: 100%;
  height: auto;
}
.restau__content {
  margin-left: 2%;
  margin-right: 2%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restau__content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.restau__content__coeur {
  font-size: 32px;
}
.restau__content__coeur:hover {
  font-size: 32px;
  color: #ff79da;
}

/* Mobile phone version : screen < 768 px*/
@media screen and (min-width: 767px) {
  .restaurants {
    height: 800px;
  }

  .cardsRestau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
  }

  .lienRestau {
    width: 100%;
    width: 500px;
  }
}

/*# sourceMappingURL=style.css.map */
