.btn-restau {
    padding: 20px;
    width: 200px;
    background: linear-gradient(180deg, $secondary-color, $primary-color);
    box-shadow: 4px 6px 10px 0px $shadow-color;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    /*For animation*/
    position: relative;
    opacity: 1;
    z-index: 1;
    &:visited {
        color: #fff;
    }
    /*Hover : lighter + more shadows*/
    &:hover {
        &::after {
            cursor: pointer;
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(180deg, lighten($secondary-color, 5%), lighten($primary-color, 5%));
        box-shadow: 4px 6px 10px 0px $shadow-color-darker;
        border-radius: 50px;
        opacity: 0;
        z-index: -1;
        transition: opacity 150ms;
    }
}

.btn-new {
    position: absolute;
    margin-bottom: 165px;
    right: 2%;
    padding: 8px 16px 8px 16px;
    background: $tertiary-color;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: darken($tertiary-color, 40%);
}

.coeur {
    &:hover .coeur__plein {
        cursor: pointer;
        opacity: 1;
        animation: heart-filled 300ms ease-in-out;
        transform-origin: bottom;
    }
    &__contour {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        z-index: 1;
        color: black;
    }
    &__plein {
        font-size: 30px;
        color: transparent;
        background: linear-gradient(180deg, lighten($secondary-color, 5%), lighten($primary-color, 5%));
        -webkit-background-clip: text;
        -moz-background-clip: text;
        opacity: 0;
        position: relative;
        z-index: 2;
    }
}

.chargement {
    width: 100%;
    height: 100%;
    background-color: $secondary-color;
    z-index:4;
    &__loader {
        position:absolute;
        left:50%;
        right: 50%;
        bottom:50%;
        top:50%;
        width: 60px;
        height: 60px;
        z-index: 3;
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid $tertiary-color;
        animation: spin 3s ease-in-out forwards;
    }
}

@media screen and (min-width: 992px) {
    .btn-new {
        position: absolute;
        width: 60px;
        margin-bottom: 180px;
        margin-top: 5px;
    }
}
