.btn-restau {
    padding: 20px;
    width: 200px;
    background: linear-gradient(180deg, $secondary-color, $primary-color);
    cursor: pointer;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    text-align:center;
    &:visited{
        color: #fff;
    }
}

.btn-new {
    position : absolute;
    margin-bottom:165px;
    right:4%;
    padding: 8px 16px 8px 16px;
    background: $tertiary-color;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700; 
    color: darken($tertiary-color, 40%);
}

.fa-heart {
        font-size: 32px;
    &:hover {
        cursor: pointer;
        font-size: 32px;
        color: $secondary-color;
    }

}

@media screen and (min-width: 767px) {
    .btn-new {
        position : absolute;
        width: 60px;
        margin-bottom:180px;
        margin-top:5px;
    }
}

