/*Page d'accueil */

.location {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $form-color;
    box-shadow: inset 0px 15px 10px -15px $shadow-color;
    &__icon {
        color: $location-color;
        font-size: 20px;
        padding: 4%;
    }
    &__searchbar {
        width: 170px;
        color: $location-color;
        font-size: 18px;
        font-weight: 600;
        background-color: $form-color;
        border: 0px;
    }
}

/*Titles*/
.accueilTitle {
    @include title_accueil;
}

/*Sections : presentation, fonctionnement et restaurants*/
.presentation {
    @include flex_column_center;
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    background-color: $main-color;
    padding: 30px;
    &__title {
        text-align: center;
        width: 90%;
    }
    &__undertitle {
        text-align: center;
        font-size: 18px;
        font-weight: 400;
    }
}

.fonctionnement,
.restaurants {
    box-sizing: border-box;
    @include flex_column;
    padding: 5%;
}

/*Section : fonctionnement*/
.fonctionnement {
    height: 400px;
}

.fctEtapes {
    box-sizing: border-box;
    height: 300px;
    width: 100%;
    @include flex_column;
}

.etape {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    &__number {
        z-index: 2;
        padding: 5px;
        width: 20px;
        height: 20px;
        border-radius: 80px;
        background-color: $primary-color;
        color: #fff;
        text-align: center;
    }
    &__content {
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 10px;
        border-radius: 15px;
        margin-left: -15px;
        background-color: $main-color;
        box-shadow: 4px 6px 10px 0px $shadow-color;
        color: black;
        text-align: center;
        &__text {
            margin-left: 20px;
            font-weight: 600;
        }
        &__icon {
            width: 40px;
            margin-left: 20px;
            font-size: 20px;
            color: $fct-icon;
        }
    }
}

/*Section : Restaurants*/
.restaurants {
    background-color: $main-color;
    height: 1400px;
}

.cardsRestau {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    width: 98%;
    height: 92%;
}

.lienRestau {
    width: 100%;
    height: 280px;
    background-color: white;
    border: solid 1px white;
    box-shadow: 5px 5px 10px #c2c2c2;
    border-radius: 20px 20px 20px 20px;
}

.restau {
    width: 100%;
    height: 100%;
    &__img {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 75%;
        overflow: hidden;
        border-radius: 20px 20px 0px 0px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__content {
        margin-left: 2%;
        margin-right: 2%;
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &__coeur {
            font-size: 32px;
        }
        &__coeur:hover {
            font-size: 32px;
            color: $secondary-color;
        }
    }
}

/* Desktop version : screen 992 px*/
@media screen and (min-width: 992px) {
    .fonctionnement,
    .restaurants {
        padding: 2% 10% 2% 10%;
    }

    /*Section : fonctionnement*/
    .fonctionnement {
        height: 200px;
    }

    .fctEtapes {
        margin-top: 20px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 200px;
        width: 100%;
    }

    .etape {
        &__content {
            width: 80%;
        }
    }

    /*Section : Restaurants*/
    .restaurants {
        height: 800px;
    }

    .cardsRestau {
        margin-top:20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 700px;
    }

    .lienRestau {
        width: 45%;
        height: 300px;

    }

    .restau {
        &__img {
            img {
                width: 150%;
                height: auto;
            }
        }
    }
}
