@mixin flex_column_center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flex_column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

@mixin title_accueil {
    font-size: 24px;
    font-weight: 800;
}

