/*Main colors*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

/*Greys*/
$form-color: #ebebebff;
$shadow-color: #dedede;
$shadow-color-darker: darken(#dedede,30%);
$main-color: #f6f6f6ff;
$fct-icon: #7e7d7d;;
$location-color:#3a3a3a;