.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding:0px;  
    &__logo {
        padding:5%;
        img {
            width: 200px;
            height: auto;
        }
    }
}