.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    &__logo {
        padding: 5% 5% 2% 5%;
        img {
            width: 200px;
            height: auto;
        }
    }
}

/* Mobile phone version : screen < 768 px*/
@media screen and (min-width: 767px) {
    .header {
        &__logo {
            padding: 2% 2% 1% 2%;
        }
    }
}
